@import url("../App.css"); 

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(~/public/fonts/Helvetica.ttf) format('truetype');
}

.about {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.15);
  background-image: url(../../public/landing_page_background3.jpg);
  background-size: cover;
  color: var(--spotbox-yellow);
  height: 1000px;
  font-family: 'Helvetica';
}

/*
  This selector is looking for a class called container
  inside of a class called about
*/
.about .container {
  color: white;
  /* 
    A black dropshadow can make text that is normally hard to
    see on certain backgrounds much easier 
  */
  text-shadow: 2px 2px black;
}

.about h1 {
  font-size: 3em;
  text-decoration-line: underline;
  text-decoration-color: var(--spotbox-yellow);
}

.about p {
  font-size: 1.75em;
}

.about a {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: var(--spotbox-yellow);
  font-size: 1.2em;
}