.navlinks {
  /* margin-left: theme.spacing(10); */
  display: flex;
}

.logo {
  flex-grow: 1;
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  /* p:hover {
    color: "yellow",
    border-bottom: "1px solid white";
  } */
}