.navlinks {
  /* margin-left: theme.spacing(10); */
  display: flex;
  align-items: center;
  height: 5vh;
}

.logo {
  flex-grow: 1;
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

/*
  This is indicating that when you are hovering over the links 
  in the navigation bar, these styles will be visible on the page.
*/
.navlink:hover {
  border-bottom: 5px solid yellow;
}

/*
  This is indicating that when this link is active in the header, 
  these styles will be visible on the page.
*/
.navlink.active {
  border-bottom: 5px solid yellow;
}

.nav {
  background-color: #2E3B55 !important;
}