@import url("../App.css"); 

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(~/public/fonts/Helvetica.ttf) format('truetype');
}

.home {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
  background-image: url(../../public/landing_page_background3.jpg);
  background-size: cover;
  color: yellow;
  /* height: 1000px; */
  height: 89vh;
  font-family: 'Helvetica';
}

/*
  This selector is looking for a class called container
  inside of a class called about
*/
.home .container {
  color: white;
  /* 
    A black dropshadow can make text that is normally hard to
    see on certain backgrounds much easier 
  */
  text-shadow: 2px 2px black;
}

.home h1 {
  font-size: 3em;
  text-decoration-line: underline;
  text-decoration-color: var(--spotbox-yellow);
}

.home p {
  font-size: 1.75em;
}

.home iframe {
  width: 140vh;
  height: 70vh;
}