@import url("../App.css"); 

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(~/public/fonts/Helvetica.ttf) format('truetype');
}

.home {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
  background-image: url(../../public/landing_page_background3.jpg);
  background-size: cover;
  color: yellow;
  /* height: 1000px; */
  height: 89vh;
  font-family: 'Helvetica';
}

/*
  This selector is looking for a class called container
  inside of a class called about
*/
.home .container {
  color: white;
  /* 
    A black dropshadow can make text that is normally hard to
    see on certain backgrounds much easier 
  */
  text-shadow: 2px 2px black;
}

.home h1 {
  font-size: 3em;
  text-decoration-line: underline;
  text-decoration-color: var(--spotbox-yellow);
}

.home p {
  font-size: 1.75em;
}

/* .home iframe {
  width: 140vh;
  height: 70vh;
} */

embed-container {
  position: relative; 
  padding-bottom: 80%; 
  height: 0; 
  max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container iframe {
  position: absolute; 
  top: 20vh; 
  left: 18.5vh; 
  width: 50%; 
  height: 50%;
} 

.form {
  position: absolute;
  top: 19vh;
  left: 120vh;

}

small {
  position: absolute; 
  z-index: 40; 
  bottom: 0; 
  margin-bottom: -15px;
}